
.post-header-wrapper {
  margin: 0 0 2em;
}

.tag {
}


.post-share {
  margin: 2rem 0;
}

.post * + * {
  margin-top: 1.5em;
}

.post .post-header {
  margin-top: -.4em;
}


.post img {
  margin: 0 auto;
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.post blockquote {
  background: rgba(0,0, 0, .125);
  display: block;
  position: relative;
  left: 1rem;
  padding: 1em;
  margin: 1em;
}
.post blockquote:before {
  display: inline-block;
  content: '“';
  position: absolute;
  font-size: 3em;
  top: 0;
  margin-left: -1em;
}


@media screen and (max-width: 640px) {
  .post li {
      margin-left: .5em;
  }

  .post blockquote {
    left: 0;
    margin: 2.4em -2em 1em -1em;
  }

  .post blockquote:before {
    top: -.7em;
    left: 1.4em;
  }
}


.post pre {
  font: .75em/1.5 PT Sans, sans-serif;
  font-variant: normal;
  width: 100%;
  white-space: pre;
  word-break: keep-all;
  overflow-x: scroll;
}

.post pre.mono {
  font-family: monospace;
  font-size: .75em;
}
